<div class="box">

<div class="err_wrap">
	<aside class="err_side_left">
		<img class="err_img" src="/img/err1.jpg">
		<div class="err_textonimg">Фирма Toyota построила гибрид с начинкой из карборунда</div>
		<img class="err_img" src="/img/err2.jpg">
		<div class="err_textonimg">Самый мощный Lamborghini Aventador замечен без камуфляжа</div>
		<img class="err_img" src="/img/err3.jpg">
		<div class="err_textonimg">Kia представит электрический кроссовер e-AWD в феврале</div>
		<img class="err_img" src="/img/err4.jpg">
		<div class="err_textonimg">Компании Spyker предоставили еще один шанс на возродение</div>
	</aside>

	<aside class="err_side_right">
		<div class="err_news">
			<div class="err_news_date">
				сегодня<img src="/img/errlogo_mrcds.gif">
			</div>
			<div class="err_news_title">
				<a href="#">Volkswagen решил остаться в представительском классе</a>
			</div>
		</div>

		<div class="err_news">
			<div class="err_news_date">
				29 января<img src="/img/errlogo_nssn.gif"><img src="/img/errlogo_infti.gif">
			</div>
			<div class="err_news_title">
				<a href="#">Nissan отзывает 768 тысяч кроссоверов по всему миру</a>
			</div>
		</div>

		<div class="err_news">
			<div class="err_news_date">
				29 января<img src="/img/errlogo_mrcds.gif">
			</div>
			<div class="err_news_title">
				<a href="#">Хэтчбек Corsa стал самым экономичным Опелем</a>
			</div>
		</div>

		<div class="err_news">
			<div class="err_news_date">
				29 января<img src="/img/errlogo_mrcds.gif"><img src="/img/errlogo_vw.gif">
			</div>
			<div class="err_news_title">
				<a href="#">Платные парковки как перемена мест слагаемых</a>
			</div>
		</div>

		<div class="err_news">
			<div class="err_news_date">
				29 января
			</div>
			<div class="err_news_title">
				<a href="#">"Элон Маск видит будущее за электрокарами</a>
			</div>
		</div>

		<div class="err_news">
			<div class="err_news_date">
				29 января
			</div>
			<div class="err_news_title">
				<a href="#">В РФ строится сеть зарядных станций для электрокаров</a>
			</div>
		</div>

		<div class="err_news">
			<div class="err_news_date">
				29 января<img src="/img/errlogo_bmw.gif"><img src="/img/errlogo_bmw.gif">
			</div>
			<div class="err_news_title">
				<a href="#">Баварцы тестируют 7-местный BMW 2-Series Active Tourer</a>
			</div>
		</div>
		
		<a id="err_btn_l" href="#">
			<div id="err_btn">Все новости</div>
		</a>
	</aside>

	


</div>

</div>