
.err_wrap{
	height: 960px;
	width: 900px;
	background-color: white;
	margin: 0 auto;
	padding: 0;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}



.err_side_left{
	height: auto;
	width: 332px;
	border-right: solid 1px #ddd;
	margin-top: 20px;
	margin-left: 8px;
	float: left;
}
.err_img{
	width: 307px;
	float: left;
	margin-bottom: 20px;
}
.err_textonimg{
	height: 50px;
	width: 90%;
	margin-left: 10px;
	color: #fff;
	font-weight: normal;
	text-shadow: 1px 1px 1px black;
	position: relative;
	bottom: 70px;
}


.err_side_right{
	height: 750px;
	width: 553px;
	margin-top: 20px;
	margin-right: 7px;
	float: left;
}

.err_news{
	padding-left: 13px;
	border-bottom: solid 1px #ddd;
}

.err_news_date{
	margin: 10px 0px 10px 0px;
}
.err_news_title{
	margin: 10px 0px 10px 0px;
}

#err_btn{
	height: 43px;
	width: 142px;
	color: #333;
	text-align: center;
	line-height: 34px;

	border-radius: 5px;
	border: solid 3px;
	border-color: #59f;
	position: relative;
	margin: 0 auto;
	margin-top: 370px;
	
	clear: both;
}
#err_btn_l{
	text-decoration: none;
}

